.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  vertical-align: top;
  filter: contrast(200%);
}

.box {
  border: 1px solid#ddd;
  display: block;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.innerbox {
  border-radius: 4px;
  position: relative;
  padding: 1px 1px;
}
label {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: small;
  margin: 10px;
}
input {
  margin-left: 10px;
  padding: 10px;
  line-height: normal;
  width: 80%;
  border: 1px solid#ddd;
  border-radius: 5px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin: 10px;
}
.pass {
  margin-bottom: 0;
  text-align: left;
  font-size: 12px;
  line-height: 15px;
  margin: 10px;
}
.buttonstyle {
  width: 90%;
  background-color: #f3cd6f;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
p {
  font-size: small;
  margin: 10px;
}
a:hover {
  color: blueviolet;
}
a {
  color: blue;
}
